body {
  background-color: #ffffff;
  color: #292929;
}
h3 {
  font-weight: 3 rem;
  font-size: rem;
  color: #1D1D1;
}
h1 {
  font-size: 30px;
  font-weight: 500px;
  color: #178582;
}
